.card1{
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-shadow: 100px;
    border-width: 5px;
    border-color: black;
    padding: 20px;
}
.btnAlign{
    padding-left: 650px;
}
.align{
    padding-left: 400px;
}
